$background_main: rgb(3, 81, 248);
$background_cards: rgb(119, 205, 245);
$color_font: rgb(247, 247, 144);

table {
    margin: auto;
    width: 80%;
}

.admin-main {
    padding: 20px;
    min-height: 1000px;
    background-color: $background_main;
    background-image: linear-gradient(to right,$background_main, $background_cards, $background_main);
    margin-top: 60px;
}

.container-table {
    width: 80%;
    background-color: $background_cards;
    border: 3px solid $color_font;
    border-radius: 5px;
    padding: 10px;
    margin-top: 300px;
    margin: auto;
    margin-bottom: 20px;
    font-size: large;
    text-align: justify;
}

.paginator-list {
    margin: auto;
    width: 80%;
}

.button-container {
    width: 80%;
    background-color: $background_cards;
    border: 3px solid $color_font;
    border-radius: 5px;
    padding: 10px;
    margin-top: 300px;
    margin: auto;
    margin-bottom: 20px;
    font-size: large;
    text-align: justify;
}

button {
    margin-left: 20px;
}

