$background_main: rgb(3, 81, 248);
$background_cards: rgb(119, 205, 245);
$color_font: rgb(247, 247, 144);

table {
    margin: auto;
    width: 80%;
}

.paginator-list {
    margin: auto;
    width: 80%;
}