$background_main: rgb(3, 81, 248);
$background_cards: rgb(119, 205, 245);
$color_font: rgb(247, 247, 144);

* {
    box-sizing: border-box;
}

.app-toolbar {
    z-index: 2;
    background-color: $background_main;
    position: fixed;
    top: 0;
    min-height: 80px;
    padding: 10px 0;
  }
  
  .sidenav-container {
    z-index: 1;
  }
  
  .nav-list {
    margin-top: 60px;
  }
  
  mat-sidenav-content {
    // padding: 2rem;
    box-sizing: border-box;
  }

  .font-color {
    color: $color_font;
    text-align: center;
    border: 3px solid $color_font;
    border-radius: 5px;
    background-image: linear-gradient(to right,$background_main, $background_cards, $background_main);
    padding: 5px;
    // margin: 10px 0;
  }
  
  a[mat-button] {
    color: rgb(200, 200, 200);
    &.active {
      color: $color_font;
    }
  }

  .log-container {
    display: inline;
    position: absolute;
    right: 10px;
  }