<div class="login-main">
    <div class="flex">
        <form class="container-login">
            <h3>Kérem jelentkezzen be az oldal megtekintéséhez!</h3>
            <mat-form-field class="form-field">
              <mat-label>Felhasználónév/Username</mat-label>
              <input matInput placeholder="Username" value="">
            </mat-form-field>
    
            <mat-form-field class="form-field">
              <mat-label>Jelszó/Password</mat-label>
              <input matInput placeholder="Password" value="">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="userLogin()">Belépés</button>
          </form>
    
        <hr>
    
          <form class="container-login">
            <h3>Kérem regisztráljon a bejelentkezéshez!</h3>
            <mat-form-field class="form-field">
              <mat-label>Felhasználónév/Username</mat-label>
              <input matInput placeholder="Username" value="">
            </mat-form-field>
    
            <mat-form-field class="form-field">
              <mat-label>Jelszó/Password</mat-label>
              <input matInput placeholder="Password" value="">
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="userReg()">Regisztráció</button>
          </form>
    </div>
</div>
  