$background_main: rgb(3, 81, 248);
$background_cards: rgb(119, 205, 245);
$color_font: rgb(247, 247, 144);

.login-main {
    padding: 20px;
    background-color: $background_main;
    background-image: linear-gradient(to right,$background_main, $background_cards, $background_main);
    margin-top: 60px;
    min-height: 550px;
}

.container-login {
    width: 40%;
    background-color: $background_cards;
    border: 3px solid $color_font;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    font-size: large;
    text-align: justify;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.login-fill-width {
    margin: auto;
    padding: 50px;
}

.form-field {
    width: 60%;
    display: block;
    margin: 20px auto;
}

// .first-field {
//     margin-top: 20px;
//     flex-wrap: wrap;
// }

// .comment-layout {
//     width: 70%;
//     margin: 20px auto;
//     background-color: white;
//     border: 3px solid $color_font;
//     border-radius: 5px;
// }

button {
    margin: 10px;
}

hr {
    width: 10px;
    border: 2px solid $background_main;
    border-radius: 5px;
    background-color: $color_font;
}
